<h1>All User Recipes!</h1>
<div class="user_recipes_list">
  <%@recipes.each do |recipe2|%>
  <%=render partial: 'partials/recipe_card', locals: {recipe: recipe2}%>
<%end%>
</div>
<div></div>
<div><% %>
<%= %></div>

