<div class="user_recipes_list">
<h1>Current User Recipes!</h1>
  <%@recipes.each do |recipe2|%>
  <%=render partial: 'partials/recipe_card', locals: {recipe: recipe2}%>
<%end%>
</div>
<div></div>
<div><% %>
<%= %></div>