<nav class="nav">
<ul>
  <li class="no_list_style">Welcome, <%= current_user.name %>!</li>
  <%{"Home" => home_path, "Foods" => foods_path , "My Recipes" => recipes_path, "Shopping List" => general_shopping_list_index_path }.map do |key, value|%>
  <li class="link_list_li"> <%= link_to "#{key.to_s}", value, class: "link_class" %></li>
  <% end %>
  <li class="link_list_li"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "link_class" %></li>
</ul>
</nav>