<%= button_to recipe_path(recipe.id), method: :delete do %>
<p>recipe.name</p>
  <div>
    <p>recipe.name</p>
    <div class="remove_recipe_link"><%= button_to "Remove", recipe_path(recipe.id), method: :delete %></div>
    <div>recipe.description</div>
  </div>
  <%end%>

